{% extends "base.html.twig" %}

{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <h1>{{ title|upper }}</h1>

    <div class="filterList">
        <input type="checkbox" id="publishedStories" name="published" value="unpublished">
        <label for="publishedStories">Published stories</label>
        <input type="checkbox" id="unpublishedStories" name="unpublished" value="published">
        <label for="unpublishedStories">Unpublished stories</label>
    </div>

    <div class="container-fluid adminList">
        <table class="table">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </th>
                <th>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </th>
                <th>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </th>
                <th>
                    Published
                </th>
                <th>
                    <i class="fa fa-info" aria-hidden="true"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for story in storyList %}
            <tr class="{{ story.validated == 1 ? 'published' : 'unpublished' }}">
                <td>
                    <span class="mobileUx">Id #</span>{{ story.id }}
                </td>
                <td>
                    {{ story.title }}
                </td>
                <td>
                    <a href="{{ path('adminStory',{'filter' : 'worldArea', 'filterId' : story.worldArea}) }}"
                       title="Display all stories sets in {{ story.worldArea|worldArea }}">
                        {{ story.worldArea|worldArea }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('adminStory',{'filter' : 'user' ,'filterId' : story.user.id}) }}"
                       title="Display all stories written by {{ story.user.fullname }}">
                        {{ story.user.fullname }}
                    </a>
                </td>
                <td>
                    {{ story.createdOn|date("d/m/y") }}
                </td>
                <td>
                    <span class="hint">Published&ensp;?</span><br><i class="{{ story.validated|stateIcon }}" aria-hidden="true"></i>
                </td>
                <td>
                    <span class="hint">More info&ensp;</span><br>
                    <a href="{{ path('adminByStory',{'id': story.id}) }}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filterList.js') }}"></script>
{% endblock %}