{% extends "base.html.twig" %}

{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <div class="container-fluid adminList">
        <table class="table">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Patronage
                </th>
                <th>
                    Related Stories
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for patronage in patronageList %}
                <td>
                    {{ patronage.id }}
                </td>
                <td>
                    {{ patronage.organization }}
                </td>
                <td>
                    {{ patronage.stories|length }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="patronageForm">
        {{ form_start(form ,{'attr':{'id':'newPatronageForm'}}) }}
        <div class="form-group row">
            {{ form_label(form.organization) }}
            {{ form_widget(form.organization ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.organization) }}
        </div>
        <div class="form-group">
            <button class="btn btn-success" id="newPatronageBtn" type="submit">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}