{% extends "base.html.twig" %}

{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <h1 class="adminTitle">{{ term.title|upper }}</h1>
    <div class="container-fluid entityData">

        <div class="adminAbstract">
            <h3>Legal notice article</h3>
            <p>
                {{ term.article|raw}}
            </p>
        </div>

        <div class="entityManagement">
            <p>{{ term.title }} management options</p>
            <a href="{{ path('adminActions',{'entity' : 'term' , 'id' : term.id , 'action' : 'delete'}) }}" class="btn btn-default delete">
                <i class="fa fa-trash"></i>
            </a>
            <a href="#" class="btn btn-default edit">
                <i class="fa fa-pencil"></i>
            </a>
        </div>

    </div>

{% endblock %}