{% extends "base.html.twig" %}
{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <h1>USERS</h1>

    <div class="container-fluid adminList">

        <div class="filterList">
            <input type="checkbox" id="activatedAccount" name="activated" value="unactivated">
            <label for="activatedAccount">Activated accounts</label>
            <input type="checkbox" id="unactivatedAccount" name="activated" value="activated">
            <label for="unactivatedAccount">Unactivated accounts</label>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </th>
                <th>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </th>
                <th>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </th>
                <th class="centerText">
                    Activated
                </th>
                <th class="centerText">
                    <i class="fa fa-info" aria-hidden="true"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in userList %}
                <tr class="{{ user.activated == 1 ? 'activated' : 'unactivated' }}">
                    <td>
                        <span class="mobileUx">Id #</span>{{ user.id }}
                    </td>
                    <td>
                        {{ user.fullname }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.registeredOn|date("d/m/Y") }}
                    </td>
                    <td class="centerText">
                        <span class="hint">Activated&ensp;?</span><br>
                        <i class="{{ user.activated|stateIcon }}" aria-hidden="true"></i>
                    </td>
                    <td class="centerText">
                        <span class="hint">More info</span><br>
                        <a href="{{ path('adminByUser',{'id': user.id}) }}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filterList.js') }}"></script>
{% endblock %}