{% extends "base.html.twig" %}

{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <h1 class="smallTitle adminTitle"> DASHBOARD </h1>

    <div class="iconBlock">
        <i class="fa fa-dashboard fa-5x" aria-hidden="true"></i>
    </div>

    <div class="container-fluid" id="dashboard">
        <ul class="list-unstyled col-lg-5 col-sm-12" id="userStat">
            <li>
                Number of registered users  <span class="count pull-right"> {{ roleEdit + roleUser }}</span>
            </li>
            <li>
                Users with access to the edition tools  <span class="count pull-right"> {{ roleEdit }} </span>
            </li>
            <li>
                Number of unactivated account  <span class="count pull-right"> {{ unactivated }} </span>
            </li>
            <li>
                Edition tools request on hold  <span class="count pull-right"> {{ editRequest }} </span>
            </li>
        </ul>

        <ul class="list-unstyled col-lg-offset-2 col-lg-5 col-sm-12" id="storyStat">
            <li>
                Total of stories  <span class="count pull-right"> {{ totalStory }} </span>
            </li>
            <li>
                Validated and published stories  <span class="count pull-right"> {{ totalValidated[0]|join('|') }} </span>
            </li>
            <li>
                Unvalidated stories  <span class="count pull-right"> {{ totalStory - totalValidated[0]|join('|') }} </span>
            </li>
            <li>
                Average publication per user  <span class="count pull-right"> {{ totalValidated[0]|join('|')/roleEdit }} </span>
            </li>
        </ul>
    </div>

    <div class="iconBlock" id="actionIcon">
        <i class="fa fa-cog fa-5x" aria-hidden="true"></i>
    </div>

    <div class="container-fluid" id="dashboardAction">
        <div class="col-sm-6">
        <a href="{{ path('adminDeleteUnactivated') }}" class="btn btn-warning" onclick="return confirm('Delete all accounts waiting for activation since at least 60 days ?')">
            Delete all unactivated accounts
        </a>
        </div>
        <div class="trigger col-sm-6">
            <button class="btn btn-primary pull-right">Modify administrator login</button>
        </div>
        <div>
            <a href="{{ path('adminLegalCreate') }}" class="btn btn-warning">
               term
            </a>
        </div>
    </div>

    <div class="modalForm" id="modalAdmin"  style="display: none">
        <i class="fa fa-times closeModal"></i>
        {{ form_start(form ,{'attr':{'id':'updateAdministrator'}}) }}
        <div class="form-group row">
            {{ form_label(form.email) }}
            {{ form_widget(form.email ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.pswd) }}
            {{ form_widget(form.pswd ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.pswd) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.confirmPswd) }}
            {{ form_widget(form.confirmPswd ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.confirmPswd) }}
        </div>
        <div class="form-group row">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="modalOverlay" style="display: none"></div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modalForm.js') }}"></script>
    <script src="{{ asset('js/animatedCounter.js') }}"></script>
{% endblock %}