{% extends "base.html.twig" %}

{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <div class="container-fluid adminList">
        <table class="table">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Topic
                </th>
                <th>
                   Related Stories
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for topic in topicList %}
                <td>
                    {{ topic.id }}
                </td>
                <td>
                    {{ topic.type }}
                </td>
                <td>
                    {{ topic.stories|length }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="topicForm">
        {{ form_start(form ,{'attr':{'id':'newTopicForm'}}) }}
        <div class="form-group row">
            {{ form_label(form.type) }}
            {{ form_widget(form.type ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.type) }}
        </div>
        <div class="form-group">
            <button class="btn btn-success" id="newTopicBtn" type="submit">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock%}