{% extends "base.html.twig" %}

{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <h1 class="adminTitle">CREATE LEGAL NOTICE ARTICLE</h1>

    <div class="well">
        {{ form_start(form ,{'attr':{'id':'addLegal'}}) }}
        <div class="form-group row">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.article) }}
            {{ form_widget(form.article ,{'attr':{'class':'form-control tinyMce'}}) }}
        </div>
        <div class="form-group row ">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}