{% extends "base.html.twig" %}

{% block body %}

    {{ include('admin/adminNav.html.twig') }}

    <h1>PATRONAGES</h1>

    <div class="container-fluid adminList">
        <table class="table">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Patronage
                </th>
                <th>
                    Related Stories
                </th>
                <th>
                    <i class="fa fa-pencil"></i>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for patronage in patronageList %}
                <td>
                    {{ patronage.id }}
                </td>
                <td id="{{ 'entityType'~patronage.id }}">
                    {{ patronage.organization }}
                </td>
                <td>
                    {% if patronage.stories|length > 0 %}
                    <a href="{{ path('adminStory',{'filter' : 'patronage', 'filterId' : patronage.id}) }}"
                       title="Display all {{ patronage.organization }} stories">
                        {{ patronage.stories|length }}
                    </a>
                    {% endif %}
                    {% if patronage.stories|length == 0 %}
                        0
                    {% endif %}
                </td>
                <th class="trigger">
                    <button class="btn btn-default update" value="{{ patronage.id }}" title="modify patronage">
                        <i class="fa fa-pencil"></i>
                    </button>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="trigger">
        <button class="btn btn-primary">Add a patronage</button>
    </div>

    <div class="modalForm" id="patronageForm" style="display: none">
        <i class="fa fa-times closeModal"></i>
        {{ form_start(form ,{'attr':{'id':'newPatronageForm'}}) }}
        <div class="form-group row">
            {{ form_label(form.organization) }}
            {{ form_widget(form.organization ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.organization) }}
        </div>
        {{ form_widget(form.patronageId ,{'attr':{'class':'form-control'}}) }}
        <div class="form-group row">
            <button class="btn btn-success" id="newPatronageBtn" type="submit">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="modalOverlay" style="display: none"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modalForm.js') }}"></script>
{% endblock %}