{% extends 'base.html.twig' %}

{% block body %}


      {% if app.request.get('_route') == 'login' %}
        <div class="connectionForm">
        {% if error %}
            <div class="alert alert-warning">{{ error.message }}</div>
        {% endif %}
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group row">
                    <label for="username">Email</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>
                <div class="form-group row">
                    <label for="password">Mot de passe</label>
                    <input class="form-control" type="password" id="password" name="_password"/>
                </div>
                <div class="form-group row">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Se souvenir de moi</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Valider</button>
                    <a class="btn btn-default" href="{{ path('lostPassword') }}">Mot de passe oublié</a>
                </div>
            </form>
        </div>
      {% endif %}

     {% if app.request.get('_route') == 'register' %}
        <div class="connectionForm">
            {{ form_start(form ,{'attr':{'id':'registerForm'}}) }}
        <div class="form-group row">
            {{ form_label(form.name) }}
            {{ form_widget(form.name ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.surname) }}
            {{ form_widget(form.surname ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.surname) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.email) }}
            {{ form_widget(form.email ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.pswd) }}
            {{ form_widget(form.pswd ,{'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.pswd) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.confirmPswd) }}
            {{ form_widget(form.confirmPswd ,{'attr':{'class':'form-control'}})}}
            {{ form_errors(form.confirmPswd) }}
        </div>
        <div class="form-group row">
            {{ form_label(form.termsAgreement) }}
            {{ form_widget(form.termsAgreement ,{'attr':{'class':'form-control'}})}}
            {{ form_errors(form.termsAgreement)}}
        </div>
        <div class="form-group row">
            <button class="btn btn-success" type="submit">Envoyer</button>
        </div>
        {{ form_end(form) }}
        </div>
     {% endif %}

      {% if app.request.attributes.get('_route') == 'lostPassword' %}
        <div class="connectionForm">
            {{ form_start(form, {'attr':{'id':'asNewForm'}}) }}
            <div class="form-group row">
                {{ form_label(form.email) }}
                {{ form_widget(form.email ,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
     {% endif %}

    {%if app.request.attributes.get('_route') == 'resetPswd' %}
        <div>
            {{ form_start(form)}}
            <div class="form-group row">
                {{ form_label(form.pswd) }}
                {{ form_widget(form.pswd ,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.pswd) }}
            </div>
            <div class="form-group row">
                {{ form_label(form.confirmPswd) }}
                {{ form_widget(form.confirmPswd ,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.confirmPswd) }}
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}



{% endblock %}
