{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid" id="intro">
        <div class="col-sm-12 imgText" id="speech">
            <h1 class="storyCount">OUR CLIMATE STORIES SAFE <b>{{ total[0]|join('|') }} {{ total[0]|join('|') > 1 ? 'STORIES' : 'STORY' }}</b></h1>
            <h2>Our mission</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis dictum sapien sed commodo.
                Cras et tortor id risus ultricies varius. Sed luctus vestibulum lorem, dapibus dignissim massa pharetra a.
                Praesent vulputate, arcu consequat tristique faucibus, nisi elit malesuada eros, eu blandit eros velit sit
                amet lorem. Morbi consequat elit erat, accumsan vestibulum felis consequat at. Class aptent taciti sociosqu
                ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris venenatis enim vel eros aliquet, et egestas nulla tempus.
                Sed eleifend mollis tortor, et scelerisque metus sagittis id. Donec dignissim ipsum ac velit ornare, tincidunt placerat neque tempor.
            </p>
            <h3>And you, what will your story be?</h3>
            <a class="btn pictLink" href="{{ path('addStory') }}">Add a story</a>
        </div>
    </div>

        {% if app.session.get('notifList') and is_granted('ROLE_USER') %}
            <div class="notification" style="position:fixed;top:30%;z-index: 1; width: 100%; background: #c9453c ">
                <i class="fa fa-close pull-right" id="closeNotif"></i>
                {% for key in app.session.get('notifList') if key.seen == 0 %}
                    <p class="notifText">{{ key.notifiedOn|date("m/d/Y") }} {{ key.type|typeToText }} </p>
                {% endfor %}
            </div>
        {% endif %}

    <div id="announcement">
        <p class ="h2-like">Here's a selection of the last published one</p>
    </div>
    <div class="homeStories">
        {{ include('storyCard.html.twig') }}
    </div>


    <h3 id="filterTitle">Looking for a special one</h3>


    <div id="filterHome">
        {{ form_start(filter,{'attr':{'class':'form-inline'}, 'action': path('search') }) }}
        <div class="form-group ">
            {{ form_widget(filter.topic ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(filter.patronage,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(filter.worldArea,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(filter.country ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group" id="filterBtn">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-search " aria-hidden="true"></i>
                search
            </button>
        </div>
        {{ form_end(filter) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/notification.js') }}"></script>
{% endblock %}
