{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" id="introBrowse">
        <div class="col-sm-12 imgText" id="punchLine">
            <h1 class="storyCount">{{ title }} <b>{{ stories|length > 1 ? 'STORIES' : 'STORY'  }}</b></h1>
            <h3>And you, what will your story be?</h3>
            <a class="btn pictLink" href="{{ path('addStory') }}">Add a story</a>
        </div>
    </div>

    <div class="container-fluid" id="filter">
        {{ form_start(filter,{'attr':{'class':'form-inline'},'action': path('search') }) }}
        <div class="form-group col-lg-3">
            {{ form_widget(filter.topic ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-lg-3">
            {{ form_widget(filter.patronage,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-lg-3">
            {{ form_widget(filter.worldArea,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group col-lg-3">
            {{ form_widget(filter.country ,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="row" id="filterBtn">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-search " aria-hidden="true"></i>
                search
            </button>
        </div>
        {{ form_end(filter) }}
    </div>
   {% if stories|length != 0 %}

        {{ include('storyCard.html.twig') }}

        {% if pageNumber > 1 %}
        <div id="previous">
            <a class="pull-left btn" href="{{ path('browse',{'pageNumber': pageNumber - 1,'worldArea': worldArea ,'country': country, 'topic': topic, 'patronage': patronage}) }}" id="previousBtn">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </div>
        {% endif %}

        {% if totalPage > 1 and pageNumber < totalPage %}
        <div id="nextPrevious">
            <a class="pull-right btn" href="{{ path('browse',{'pageNumber': pageNumber + 1,'worldArea': worldArea ,'country': country, 'topic': topic, 'patronage': patronage}) }}" id ="nextBtn">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
        {% endif %}

        <div id="pageLinks" class="text-center">
            <ul class="list-inline">
                {% for i in 1..totalPage %}
                    <li class="list-inline-item" {{ pageNumber == i ? 'id="currentPage"' }}>
                        <a href="{{ path('browse',{'pageNumber': i,'worldArea': worldArea ,'country': country, 'topic': topic, 'patronage': patronage}) }}"
                           {{ pageNumber == i ? 'style="color:white"' }}>{{ i }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
   {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}


