{% extends 'base.html.twig' %}

{% block body %}
    <div id="storyHolder">
        <div id="storyTitle">
            <h1>{{ story.title|upper }}</h1>
        </div>
    </div>
        <div id="storyAbstract">
            <h2>The project in a <span>few words</span></h2>
            <p>{{ story.abstract|raw }}</p>
        </div>

        <hr class="separator">

        <div id="storyBody">
            <div id="storyPlot">
                <h3>A Climate <span>Story #{{ story.id }}</span></h3>
                <div id="plotText">
                    {{ story.plot|raw }}
                </div>
                {% if story.urls|length >= 1 %}
                <div class="trigger">
                    <i class="fa fa-link pull-right" aria-hidden="true"> External links</i>
                </div>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('adminEditStory',{'id' : story.id}) }}" class="editFront">
                        <i class="fa fa-pencil"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        {% if previous != null %}
        <span id="prevStory">
            <a class="btn" href="{{ path('story',{'storyId':previous|join('|')}) }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
        </span>
        {% endif %}
        {% if next != null %}
        <span id="nextStory">
            <a class="btn" href="{{ path('story',{'storyId':next|join('|')}) }}" >
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </span>
        {% endif %}
    <div id="contact">
        <h3>About the author</h3>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    {{ story.user.fullName }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    {{ story.contactEmail }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    {{ story.contactPhone | default('----------------------') }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ story.contactPLace | default('----------------------') }}
                </li>
            </ul>
    </div>

    <hr class="separator withSpace">

    <div class="modalUrl" style="display: none">
        <i class="fa fa-times fa-lg closeModal"></i>
        <p><span>Story #{{ story.id }}</span> external links</p>
        <ul class="list-unstyled">
            {% for url in story.urls %}
            <li>
                <a href="{{ url.href }}">{{ url.alt }}<i class="fa fa-external-link"></i></a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="modalOverlay" style="display: none"></div>

    <div class="container-fluid" id="moreContainer">
        <h3>Related stories</h3>
        <div class="more slider">
            {% set stories = related|shuffle|slice(0,10) %}
                {{ include('storyCard.html.twig') }}
        </div>
        <span id="panLeft" class="panner pull-left" data-scroll-modifier='-1'>
            <i class="fa fa-chevron-circle-left fa-lg" aria-hidden="true"></i>
        </span>
        <span id="panRight" class="panner pull-right" data-scroll-modifier='1'>
            <i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true"></i>
        </span>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/scroll.js') }}"></script>
{% endblock %}

