{% extends 'base.html.twig' %}

{% block body %}
    <div id="storyBody">
        <div>
            <h1>{{ story.title }}</h1>
        </div>

        <div id="storyAbstract">
            <h2>The project in a few words</h2>
            <p>{{ story.abstract|raw }}</p>
        </div>

        <div id="storyPlot">
            <h3>A Climate Story #{{ story.id }}</h3>
            <div id="plotText">
                <p>{{ story.plot|raw }}</p>
            </div>
        </div>
    </div>

    <div id="contact">
        <h3>About the author</h3>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    {{ story.user.fullName }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    {{ story.contactEmail }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ story.contactPLace | default('------------') }}
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    {{ story.contactPhone | default('------------') }}
                </li>
            </ul>
    </div>



    <div id="moreContainer">
        {% if sameTopic != null %}
        <div class="more" id="moreTopic">
            <h3>Stories about {{ story.topic.type }}</h3>
            {% set stories = sameTopic|shuffle|slice(0,3) %}
                {{ include('storyCard.html.twig') }}
        </div>
        {% endif %}

        {% if sameCountry != null %}
        <div class="more" id="moreCountry">
            <h3>Stories set in {{ story.country|country}}</h3>
            {% set stories = sameCountry|shuffle|slice(0,3) %}
                {{ include('storyCard.html.twig') }}
        </div>
        {% endif %}

        {% if sameYear != null %}
        <div class="more" id="moreYear">
            <h3>Stories started in {{ story.year}}</h3>
            {% set stories = sameYear|shuffle|slice(0,3) %}
                {{ include('storyCard.html.twig') }}
        </div>
        {% endif %}

        {% if samePatronage != null %}
        <div class="more" id="morePatronage">
            <h3>Stories supported by {{ story.patronage.organization }}</h3>
            {% set stories = samePatronage|shuffle|slice(0,3) %}
                {{ include('storyCard.html.twig') }}
        </div>
        {% endif %}
    </div>
        {% if previous != null %}
             <a class="btn pull-left" href="{{ path('story',{'storyId':previous|join('|')}) }}" id="prevStory">
                 <i class="fa fa-chevron-left" aria-hidden="true"></i>
             </a>
        {% endif %}
        {% if next != null %}
                <a class="btn pull-right" href="{{ path('story',{'storyId':next|join('|')}) }}" id="nextStory">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
        {% endif %}
{% endblock %}

